.privacy-icon{
    width: 72px;
    height: 102px;
    background: url('../../images/privacy-icone.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.face_id-icon{
    width: 103px;
    height: 102px;
    background: url('../../images/face_id-icon.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.div-icons{
    display: flex; 
    align-items: baseline; 
    justify-content: center;
}

